---
title: Giffleball
images:
  - ???.jpg
  - ….jpg
  - parrot.gif
---
<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
 </head>
 <body>
  <h1>{{ title }}</h1>
<ul>
 {%- for filename in images %}
 {%- capture path %}img/{{ filename }}{% endcapture %}
 <li><a href="img/{{ filename | url_encode }}">{{ filename }}</a> {{ path | filesize }}</li>
 {%- endfor %}
</ul>
 </body>
 </html>