---
layout: single_column_layout.liquid
myOtherData: hello
---

<div class="container">

  <article class="h-entry prose centre" itemtype="http://schema.org/BlogPosting">

    <header>
      <time class="dt-published" itemprop="datePublished" datetime="">{{ page.date | date: "%A, %b %d, %Y" }}</time>
      {%- if pageTitle -%}<h1 class="p-name" itemprop="headline">{{ pageTitle }}</h1>{%- endif -%}
    </header>

    <div class="e-content" itemprop="articleBody">

      <a class="btn btn-icon" href="{{ linkTarget }}">
        <span class="btn-icon-text">Direct Link</span>
        <svg class="text-icon-pair-icon" aria-hidden="true" focusable="false" width="1em" height="1em"><use xlink:href="#icon-offsite"></use></svg>
      </a>

      {{ content | safe }}

    </div> <!-- /.e-content -->

    <footer class="stack">

      <h3>Tagged:</h3>

      <div class="cluster">
        <ul class="tags">
          {% for tag in tags %}
          {%- if tag != "post" -%}
          <li><a rel="tag" href="/tagged/{{ tag }}/">{{ tag }}</a></li>
          {%- endif -%}
          {% endfor %}
        </ul>
      </div>

    </footer>

  </article>

</div> <!-- /.container -->
