<!doctype html>
<html dir="ltr" lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}{% if isHome == nil %} | Fuzzy Logic{% endif %}</title>
  <link rel="preload" href="/assets/type/sans/SourceSansPro-Regular-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/type/sans/source-sans-pro-v12-latin-600.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/type/sans/SourceSansPro-It-subset.woff2" as="font" type="font/woff2" crossorigin>
  <style>
  @font-face {
    font-family: Source Sans Pro;
    src: url(/assets/type/sans/SourceSansPro-Regular-subset-v2.woff2) format("woff2"),
         url(/assets/type/sans/SourceSansPro-Regular-subset-v2.zopfli.woff) format("woff");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: Source Sans Pro;
    src: url(/assets/type/sans/SourceSansPro-It-subset.woff2) format("woff2"),
         url(/assets/type/sans/SourceSansPro-It-subset.zopfli.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: Source Sans Pro;
    src: url(/assets/type/sans/source-sans-pro-v12-latin-600.woff2) format("woff2"),
         url(/assets/type/sans/source-sans-pro-v12-latin-600.woff) format("woff");
    font-weight: 600;
    font-display: swap;
  }
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  .logo svg {
    font-size: 5rem;
  }
  </style>
  <link rel="stylesheet" href="/assets/css/main_v{{ pkg.version }}.min.css">

  <meta name="author" content="Laurence Hughes">
  <meta name="description" content="{{ metaDescription }}">
  <meta name="keywords" content="front-end, frontend, front-end developer, web developer, web developer glasgow, html, css, javascript, vanilla javascript, accessibility, sofrito" />

  <!-- Avoid Google’s "duplicate content" penalties -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <!-- ToDo -->
  <!-- For listing pages switch to noindex, follow -->
  <meta name="robots" content="index, follow">

  <!-- OG (Open Graph) tags -->

  <!-- Most important OG tags -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ metaDescription }}" />
  <meta property="og:image" content="{{ site.url }}{{ ogImagePath }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

  <!-- Extra credit OG tags -->
  <meta property="og:site_name" content="{{ site.title }}" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <!-- Extra credit Twitter tags -->
  <meta name="twitter:image:alt" content="{{ ogImageAlt }}">

  <!-- Advice for devices which can 'install' this website on their home scren -->
  <link rel="manifest" href="/site.webmanifest">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Fuzzy Logic">
  <meta name="application-name" content="Fuzzy Logic">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- RSS feeds -->
  <!-- <link href="https://fuzzylogicxx.github.io/sofrito/news/rss" rel="alternate" type="application/rss+xml" title="Sofrito News RSS feed">
  <link href="https://fuzzylogicxx.github.io/sofrito/news/jsonfeed.json" rel="alternate" type="application/json" title="Sofrito News JSON feed"> -->

</head>

<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

  <!-- Header begins -->
  <header id="global-header" class="global-header">

    <div class="container">

      <div class="cluster">

        <div class="logo-and-header-menu-wrap">

          <a class="logo" href="{{ site.url }}">
            <svg aria-label="Fuzzy Logic logo" width="1em" height="1em" viewBox="0 0 214 214" xmlns="http://www.w3.org/2000/svg"><path fill="#F2F1F0" d="M.432 107.264C.432 48.556 48.027.966 106.728.966c58.71 0 106.304 47.59 106.304 106.298 0 58.713-47.594 106.304-106.304 106.304C48.027 213.568.432 165.977.432 107.264" /><path fill="#343534" d="M148.82 113.583V81.63l27.658 15.981-27.658 15.972zm-3.854-31.953v35.29c0 .687.368 1.325.967 1.668.295.181.626.257.956.257.339 0 .67-.076.968-.257l30.55-17.646.014 34.177-63.058 36.41-.005-72.809 29.608-17.09zm-41.765 7.841L50.39 58.978 79.98 41.89l63.06 36.407-29.605 17.089-10.234-5.915zm6.364 46.756l-27.657 15.974v-31.958l27.657 15.984zm-28.623-20.984a1.947 1.947 0 00-1.924 0 1.95 1.95 0 00-.961 1.673v35.285l-29.604-17.082.007-72.808 63.049 36.409-.014 34.175-30.553-17.652zm103.487-17.635c0-1.468-.78-2.816-2.054-3.548L82.031 36.117a4.115 4.115 0 00-2.051-.544c-.706 0-1.412.178-2.046.544L44.605 55.361a4.089 4.089 0 00-2.169 3.612l-.012 77.257c0 1.46.779 2.819 2.055 3.548l33.455 19.315c.634.362 1.34.542 2.046.542.706 0 1.412-.18 2.051-.542l27.294-15.767.019 31.544a4.086 4.086 0 004.094 4.087c.713 0 1.413-.178 2.051-.543l66.904-38.636a4.107 4.107 0 002.051-3.551l-.015-38.619z" /></svg>
          </a>

          <nav aria-label="page" id="skip-links" class="skip-links">
            <a href="#primary-content">Main content</a>
            <a href="#global-footer">Footer and Navigation</a>
          </nav>

          <nav aria-label="site" class="header-menu">
            <ul class="list-custom">
              <li class="header-menu-home"><a href="/"{%- if page.url == '/' %} aria-current="page"{%- endif %}>Home</a></li>
              <li><a href="/blog/"{%- if section == 'blog' or tags %} aria-current="page"{%- endif %}>Blog</a></li>
              <li><a href="/labs/"{%- if section == 'labs' %} aria-current="page"{%- endif %}>Labs</a></li>
              <li><a href="/work/"{%- if section == 'work' %} aria-current="page"{%- endif %}>Work</a></li>
              <li><a href="/about/"{%- if section == 'about' %} aria-current="page"{%- endif %}>About</a></li>
              <li><a href="/search" aria-label="Search"><svg width="1em" height="1em"><use xlink:href="#icon-search"></use></svg></a></li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

  </header>

  {{ content }}

  <!-- Footer begins -->

  <footer aria-label="site" id="global-footer" class="global-footer">

    <div class="container">

      <div class="global-footer-contents-wrap">

        <div class="cluster footer-menu">
          <div> <!-- style="justify-content: space-between;" -->
            <div class="cluster">
              <ul id="footer-menu" class="footer-menu">
                <li><a href="/"{%- if page.url == '/' %} aria-current="page"{%- endif %}>Home</a></li>
                <li><a href="/blog/"{%- if section == 'blog' or tags %} aria-current="page"{%- endif %}>Blog</a></li>
                <li><a href="/labs/"{%- if section == 'labs' %} aria-current="page"{%- endif %}>Labs</a></li>
                <li><a href="/work/"{%- if section == 'work' %} aria-current="page"{%- endif %}>Work</a></li>
                <li><a href="/about/"{%- if section == 'about' %} aria-current="page"{%- endif %}>About</a></li>
                <li><a href="/search" aria-label="Search"><svg width="1em" height="1em"><use xlink:href="#icon-search"></use></svg></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-grid">

          <section>
            <h3>About</h3>
            <p><a href="https://fuzzylogic.me">Fuzzy Logic</a> is the personal website of Laurence Hughes, a Glasgow-based front-end web developer and producer in <a href="http://nuclearfami.ly">The Nuclear Family</a>.</p>
            <p>If you’re interested, read more <a href="/about/">about me</a>.</p>
          </section>

          <section>
            <h3>How to reach me</h3>
            <p><em>You’ll find me in the club…</em> increasingly rarely and more likely tweeting on <a rel="me" href="https://twitter.com/fuzzylogicx">Twitter</a>; coding on <a rel="me" href="https://github.com/fuzzylogicxx">Github</a> and <a rel="me" href="https://codepen.io/fuzzylogicx/">CodePen</a>; or <a rel="me" href="https://soundcloud.com/the_nuclear_family">sharing</a> <a rel="me" href="https://soundcloud.com/fuzzylogicx">music</a> on Soundcloud.</p>
            <p>You can also <a href="mailto:&#108;&#097;&#117;&#114;&#101;&#110;&#099;&#101;&#064;&#102;&#117;&#122;&#122;&#121;&#108;&#111;&#103;&#105;&#099;&#046;&#109;&#101;">email me</a>.</p>
          </section>

          <section>
            <h3>Colophon</h3>
            <p>This is Fuzzy Logic v3: hand-coded from a base of <a href="https://fuzzylogicxx.github.io/sofrito/">Sofrito</a>, statically generated using <a href="https://www.11ty.io/">Eleventy</a>, open sourced <a href="https://github.com/fuzzylogicxx/fuzzylogic">on Github</a> and hosted on <a href="https://www.netlify.com/">Netlify</a>.</p>
            <p>Type is set in <a href="https://github.com/adobe-fonts/source-sans-pro">Source Sans Pro</a>.</p>
          </section>

        </div>

        <p class="copyright centre-with-centred-text">&copy; 2017–2019 <a href="https://fuzzylogic.me">Laurence Hughes</a></p>

      </div>

    </div>

  </footer>

  <!-- SVGs used repeatedly on the page are better defined as symbols then <use>d -->
  <svg width="0" height="0" style="display: none;">
    <symbol id="icon-offsite" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <title>External Link</title>
      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3"></path>
    </symbol>
    <symbol id="icon-search" viewBox="0 0 56.966 56.966">
      <title>Search</title>
        <path fill="currentColor" d="M55.146 51.887L41.588 37.786A22.926 22.926 0 0 0 46.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 0 0 .083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z"></path>
    </symbol>
  </svg>

  <!-- Scripts at bottom -->

  <!-- polyfills first so that subsequent scripts (which might use matches() and so on) etc are polyfilled -->
  <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <!-- website’s global javascript file including any globally required polyfills (that aren’t provided by polyfill.io) -->
  <script src="/assets/js/main.polyfills_v{{ pkg.version}}.min.js"></script>

  <!-- Service Worker for improved resilience and performance -->
  <script>
  if (navigator.serviceWorker) {
      window.addEventListener('load', function() {
          navigator.serviceWorker.register('/serviceworker.js', {
              scope: '/'
          });
          if (navigator.serviceWorker.controller) {
              navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
          }
      });
  }
  </script>

  <!-- add any page-specific JS here (files or inline) -->

  <!-- Use this on a page which contains a .grid. Patch support for CSS’s min() in our auto-grid (.grid) pattern -->
  <script>
  ready(function() {
    const grid = document.querySelector('.grid');
    if (grid) {
      observeGrid(grid);
    }
  });
</script>

</body>
</html>
