---
layout: single_column_layout.liquid
section: blog
pagination:
  data: collections.feed
  size: 10
  reverse: true
  alias: posts
title: Blog
metaDescription: My latest thoughts and notes
permalink: blog/index.html
---

<section class="centre-with-gutter stack">

  <header class="section-index-header">
    <h1>Blog</h1>
  </header>

  <div class="h-feed centre">

    {% for post in posts %}
      <article class="h-entry prose">
        <header>
          <time class="dt-published">{{ post.date | date: "%A, %b %d, %Y" }}</time>
          {%- if post.data.pageTitle -%}
          <h3 class="feed-entry-title">
            {%- if post.data.linkTarget %}
            <a href="{{ post.data.linkTarget | url }}" class="text-icon-pair offsite"><span class="p-name">{{ post.data.pageTitle }}</span> <svg class="text-icon-pair-icon" aria-hidden="true" focusable="false" width="1em" height="1em"><use xlink:href="#icon-offsite"></use></svg></a>
            {%- else if -%}
            <a rel="bookmark" class="p-name u-url" href="{{ post.url | url }}">{{ post.data.pageTitle }}</a>
            {%- endif -%}
          </h3>
          {%- endif -%}
        </header>
        <div class="e-content">
          {{ post.templateContent }}
        </div>
        <!-- <footer>more meta stuff</footer> -->
      </article>
    {% endfor %}

  </div>

</section>
