---
pageTitle: Bytes
section: bytes
pagination:
  data: collections.bytes
  size: 10
  reverse: true
  alias: bytes
title: Bytes
metaDescription: Quick, short notes and thoughts that might also be published on social media
permalink: bytes/index.html
---

<div class="centre-with-gutter stack">

  <header class="section-index-header">
    <h1>Bytes</h1>
  </header>

  <section class="h-feed centre">

    {% for post in bytes %}
      <article class="h-entry prose">
        <header>
          <time class="dt-published" datetime="{{ post.date | iso }}">{{ post.date | date: "%A, %b %d, %Y" }}</time>
          <h3 class="feed-entry-title"><a rel="bookmark" class="p-name u-url" href="{{ post.url | url }}">{{ post.data.pageTitle }}</a></h3>
        </header>
        <div class="e-content">
          {{ post.templateContent }}
        </div>
        <!-- <footer class="byte-footer">
          Posted <a href="{{ post.url | url }}">{{ post.date | date: "%l:%M" }}</a>.{%- if post.data.facebookPostUrl %} Also on <a href="{{ post.data.facebookPostUrl }}">Facebook</a>.{%- endif %}
        </footer> -->
      </article>
    {% endfor %}

  </section>

</div>
