---
layout: single_column_layout.liquid
pageTitle: Welcome to my blog
pagination:
  data: collections.feed
  size: 10
  reverse: true
  alias: posts
bodyClass: page-home
title: Homepage
metaDescription: Fuzzy Logic is the personal website of Laurence Hughes, a web developer based in Glasgow, Scotland.
permalink: index.html
ogImagePath: /assets/img/open_graph_share_example_1200x630.jpg
ogImageAlt: A photo of a country landscape
---

<div class="container">

  <section class="intro prose">

    <h1>Hi, I’m Laurence Hughes, a <span class="nobreak">web developer</span> based in Glasgow.</h1>

    <p class="no-hyphens">I’m a front-end developer creating responsive websites which balance design, technology, user experience and accessibility. I also make music, play records and ping pongs. <a href="https://fuzzylogic.me">Fuzzy Logic</a> is my online home, where I try out web stuff and ramble about code, music and more.</p>

  </section>

</div>

<div class="centre-with-gutter">

  <section class="home-feed-wrap h-feed centre">

    {% for post in posts %}
      <article class="h-entry prose">
        <header>
          <h3 class="feed-entry-title"><a rel="bookmark" class="p-name u-url" href="{{ post.url | url }}">{{ post.data.pageTitle }}</a></h3>
          <p class="entry-meta"><span class="dt-published">{{ post.date | date: "%A, %b %d, %Y" }}</span> in <a class="p-category" href="/">{{ post.data.section }}</a></p>
        </header>
        <div class="e-content">
          {{ post.templateContent }}
        </div>
        <!-- <footer>more meta stuff</footer> -->
      </article>
    {% endfor %}

  </section>

</div>
